#name_red {
    color: red;
    font-size: 5em;
    font-weight: bold;
}
#state_red {
    color: red;
    font-size: 5em;
}
#name_green {
    color: green;
    font-size: 5em;
    font-weight: bold;
}
#state_green {
    color: green;
    font-size: 5em;
}